.list-group-item {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &:focus {
        outline: none;
    }

    &.active {
        border-radius: 5px;
    }

    &:not(.active):hover {
        color: rgba(76, 78, 74, 0.541);
        background-color: #78c2ad55;
        border-radius: 5px;
    }
} 